@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

nav {
  padding: 4px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right img {
  width: 30px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

.nav_left img {
  width: 25px;
  margin-right: 25px;
}

.nav_left .logo-size {
  width: 90px;
  height: auto;
}

.nav_middle .mic-icon {
  width: 28px;
}

.nav_middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 2px;
}

.nav_middle .search-box input {
  width: 600px;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 16px;
}

.nav_middle .search-box img {
  width: 24px;
}

/*----------------- sidebar-------------- */

.sidebar {
  background: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 100px;
}

.shortcut-links a img {
  width: 28px;
  margin-right: 24px;
}

.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: fit-content;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
}

.shortcut-links a:first-child {
  color: #030303;
  font-weight: 500;
}

.sidebar hr {
  border: 0;
  height: 0.5px;
  background: #ccc;
  width: 95%;
  margin-bottom: 15px;
}

.subscribed-list h3 {
  font-size: 14px;
  margin: 20px 0;
  color: #606060;
  font-weight: 500;
  letter-spacing: 0.35px;
}

.subscribed-list a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400px;
}

.subscribed-list a img {
  width: 24px;
  border-radius: 50%;
  margin-right: 20px;
}

/*----------------content alanı-------------*/

.container-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 15%;
  border-bottom: 1px solid #ccc;
}

.tabs {
  display: flex;
  align-items: center;
  height: 60px;
}

.tabs a {
  font-size: 14px;
  background: #0000000d;
  padding: 7px 12px;
  border-radius: 40px;
  border: 0.5px solid #ccc;
  margin: 12px 12px 12px 2px;
}

.tabs a:first-child {
  background: #030303;
  color: #fff;
  border: none;
}

.container {
  background: #f9f9f9;
  padding-left: 17%;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  margin-bottom: 35px;
}

.card .kapak {
  width: 100%;
}

.yatay-flex {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.yatay-flex a .kanal-pp {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.video-bilgileri a {
  font-size: 14px;
  font-weight: 600;
  color: #030303;
}

.video-bilgileri p {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.15px;
  color: #606060;
  margin-top: 3px;
}
.gecmiss {
  margin-top: 10px;
}
